<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.publicNo.dao.InitDao">

    <!--查询阅豆数-->
    <select id="selectReadPeas" parameterType="Integer" resultType="Integer">
        SELECT read_peas FROM t_user WHERE user_id=#{userId}
    </select>

    <!--查询用户的文章-->
    <select id="selectArticleCount" parameterType="Integer" resultType="Integer">
        SELECT COUNT(*) FROM t_article as ta LEFT join t_user_article as tua on ta.article_id=tua.article_id
        <choose>
            <when test="isSelf ==1">
                where ta.delete_flg=0 and tua.user_id=#{userId}
            </when>
            <when test="isSelf ==0">
                where ta.delete_flg=0 and article_status=1 and tua.user_id=#{userId}
            </when>
        </choose>
    </select>

    <!--查询用户的文章-->
    <select id="selectExposure" parameterType="Integer" resultType="Integer">
      SELECT SUM(ta.`exposure`) AS exposure
        FROM
              t_user_article tua LEFT JOIN t_article ta
        ON
              tua.`article_id`=ta.`article_id`
        WHERE
              tua.`user_id`=#{userId}
        AND
              ta.`delete_flg`=0
        AND
              ta.`article_status`=1
    </select>

    <!--查询所有参与排行的用户id-->
    <select id="selectAllRankUser" resultType="Integer">
        SELECT user_id FROM t_user order by read_peas desc
    </select>

    <!--查询待阅数-->
    <select id="selectWaitReadCount" parameterType="Integer" resultType="Integer">
        SELECT count(*) FROM t_readme WHERE author_id=#{userId} and reader_id!=#{userId}
    </select>

    <!--查询所有排行文章-->
    <resultMap id="rankData" type="RankData">
        <id property="articleId" column="article_id"/>
        <result column="nickname" property="publisher"/>
        <result column="pic_url" property="userPic"/>
        <result column="title" property="articleTitle"/>
        <result column="exposure" property="exposure"/>
        <result column="article_link" property="articleUrl"/>
        <result column="isTop" property="isTop"/>
    </resultMap>
    <select id="selectRankData" resultMap="rankData">
 SELECT ta.article_id AS article_id,ta.title AS title,ta.article_link AS article_link, tu.pic_url AS pic_url,tu.`nickname` AS nickname, ta.`exposure` AS exposure,ta.`isTop` AS isTop
        FROM t_article ta
        LEFT JOIN t_user_article tua ON ta.article_id=tua.article_id
        LEFT JOIN t_user tu ON tu.`user_id`=tua.`user_id`
        WHERE ta.delete_flg=0
        AND article_status=1
        AND title IS NOT NULL
        AND article_link IS NOT NULL
        AND pic_url IS NOT NULL
        AND nickname IS NOT NULL
        AND read_peas IS NOT NULL
        AND exposure IS NOT NULL
        AND ta.`isTop` IS NOT NULL
        ORDER BY ta.`isTop` DESC, ta.`create_time` DESC, tu.`read_peas` DESC
    </select>

    <select id="selectArticleIdsAndReadedToday" resultType="Integer">
        SELECT article_id FROM t_read_article WHERE reader_id=#{userId} AND TO_DAYS(read_time)=TO_DAYS(NOW())
    </select>

</mapper>