<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.publicNo.dao.InitDao">

    <!--查询阅豆数-->
    <select id="selectReadPeas" parameterType="Integer" resultType="Integer">
        SELECT read_peas FROM t_user WHERE user_id=#{userId}
    </select>

    <!--查询用户的文章-->
    <select id="selectArticleCount" parameterType="Integer" resultType="Integer">
        SELECT count(*) FROM t_user_article WHERE user_id=#{userId}
    </select>

    <!--查询所有参与排行的用户id-->
    <select id="selectAllRankUser"  resultType="Integer">
        SELECT user_id FROM t_user order by read_peas desc
    </select>

    <!--查询待阅数-->
    <select id="selectWaitReadCount" parameterType="Integer" resultType="Integer">
        SELECT count(*) FROM t_readme WHERE author_id=#{userId}
    </select>

    <!--查询所有用户排行-->
    <resultMap id="rankData" type="com.project.publicNo.pojo.RankData">
        <id property="publisher" column="nickname"/>
        <result column="pic_url" property="userPic"/>
        <result column="title" property="articleTitle"/>
        <result column="read_peas" property="exposure"/>
        <result column="article_link" property="articleUrl"/>
    </resultMap>
    <select id="selectRankDataByUserId" parameterType="Integer" resultMap="rankData">
       SELECT ta.title as title,ta.article_link as article_link, tu.pic_url as pic_url,tu.`nickname` as nickname,tu.`read_peas` as read_peas
        FROM t_article ta
        LEFT JOIN t_user_article tua ON ta.article_id=tua.article_id
        LEFT JOIN t_user tu ON tu.`user_id`=tua.`user_id`
        WHERE tua.`user_id`=#{userId} ORDER BY ta.`create_time` DESC LIMIT 1
    </select>

</mapper>