<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.publicNo.dao.ReadMeDao">

    <!--查询阅我用户信息-->
    <resultMap id="readMeData" type="ReadMeData">
        <id column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="pic_url" property="picUrl"/>
        <result column="read_peas" property="readPeas"/>
        <result column="phone" property="phone"/>
        <result column="register_time" property="registerTime"/>
        <result column="read_time" property="readTime"/>
    </resultMap>
    <select id="getReadMeInfo" parameterType="Integer" resultMap="readMeData">
       SELECT tu.user_id AS user_id,tu.nickname AS nickname,tu.pic_url AS pic_url,tu.read_peas AS read_peas,tu.phone AS phone,tu.register_time AS register_time,tr.read_time AS read_time
        FROM t_user tu RIGHT JOIN t_readme tr ON tu.user_id=tr.reader_id
        WHERE tu.user_id IN (SELECT reader_id FROM t_readme WHERE author_id=#{userId})
        ORDER BY tu.read_peas DESC,tr.read_time DESC
    </select>

    <resultMap id="ReadOtherInfo" type="ReadArticle">
        <result property="articleId" column="article_id"/>
        <result property="readTime" column="read_time"/>
    </resultMap>
    <!--查询我阅读了某用户哪些文章-->
    <select id="selectReadOtherInfoByMe" parameterType="Integer" resultMap="ReadOtherInfo">
        select
          tra.`article_id`,tra.`read_time`
        from
          t_read_article tra left join t_user_article tua on tra.`article_id`=tua.`article_id`
        where
          tua.`user_id`=#{authorId}
        and
          tra.`reader_id`=#{readerId}
    </select>

    <!--查询阅我表是否有当前读者和作者关联-->
    <select id="selectCount" parameterType="ReadMe" resultType="Integer">
          select count(*)
          from t_readme
          where reader_id=#{readerId} and author_id=#{authorId}
    </select>

    <!--更新最近阅读时间-->
    <update id="updateReadTime" parameterType="ReadMe">
          update t_readme set read_count=read_count+1
          where reader_id=#{readerId} and author_id=#{authorId}
    </update>

</mapper>